@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  padding: 3rem;
  background: rgb(230, 250, 203);
  background: linear-gradient(
    180deg,
    rgb(121, 178, 243) 0%,
    rgb(118, 123, 172) 79%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #ff7b00;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.note {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 30px 20px;
  height: 300px;
  width: 300px;
}

.note .tools {
  background-color: #9ec862;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .tools button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  height: 300px;
  width: 100%;
}

.hidden{
  display: none;
}